# OS
.DS_Store
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Build
target/
dist/
build/
node_modules/
.next/
out/

# Logs
*.log
logs/

# Dependencies
package-lock.json
yarn.lock

# Docker
.dockerignore
